/* *{
  border: 1px solid red;
} */
h1{
  margin-top: 20px;
}
.Main{
  margin: 0px auto;
  text-align: center;
  display: flex;
  justify-content: center;
}
input.Tarea{
  width: 350px;
  height: 60px;
  text-align: center;
  font-size: large;
  display: block;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: rgb(228, 226, 226);
  border: solid 1px rgb(228, 228, 228);
}
button.Tarea{
  width: 120px;
  height: 60px;
  border-radius: 10px;
  margin-right: 300px;
  background-color: blue;
  font-size: 20px;
  color: white;
  border: solid 1px blue;
}
button.Tarea:hover{
  height: 59px;
  transition: 0.1s;
}
ul{
  margin: 0px auto;
  margin-left: -40px;
}
li{
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  list-style: none;
  margin-bottom: 20px;
  /* margin-right: 300px; */
}
li>input{
  margin-left: 40px;
  width: 20px;
  height: 20px;
}
li>button{
  width: 80px;
  height: 30px;
  color: white;
  background-color: black;
  border-radius: 5px;
  border: solid 1px rgb(70, 66, 66);
  margin-left: 20px;
}
li>button:hover{
  border: solid 2px rgb(241, 234, 220);
}
.Form{
  margin-bottom: 10%;
}
.Listado{
  text-align: left;
}
